.contenedor {
    max-width: 80%;
    margin: 1rem auto;
    flex-wrap: wrap;
    display: flex;
}

header {
    background: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
}

header a {
    flex: 0 1 180px;
}

header a img {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li a {
    display: block;
    background: red;
    color: #fff;
    padding: 1rem;
    margin: 0 .3rem;
    border-radius: 5px;
    text-decoration: none;
}

.contenido {
    background: #fff;
    flex: 3 1 0px;
    padding: 1rem;
    order: 2;
}

.lateral-1 {
    background: #fff;
    flex: 1 1 0px;
    padding: 1rem;
    order: 1;
}

.lateral-2 {
    background: #fff;
    flex: 1 1 0px;
    padding: 1rem;
    order: 3;
}

footer {
    background: #0f0e0e;
    color: #fff;
    flex: 1 1 100%;
    text-align: center;
    order: 4;
}

@media (max-width:1000px) {
    .contenedor {
        max-width: 90%;
    }
}

@media (max-width:850px) {
    header {
        flex-direction: column;
    }
    header a {
        flex: 0 1 auto;
        margin-bottom: 1rem;
    }
}

@media (max-width:700px) {
    .lateral-1, .lateral-2, .contenido {
        flex: 1 1 100%;
    }
}

@media (max-width:590px) {
    .contenedor {
        max-width: 100%;
        margin: 0;
    }
    header {
        padding: 1rem 0 0 0;
        justify-content: center;
        align-items: stretch;
    }
    header a .logo {
        align-self: center;
        padding: 1rem;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li a {
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid #af0f0f;
        text-align: center;
    }
}
